<!-- views/partials/footer.ejs -->
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">© Copyright 2018
      <a href="https://github.com/somprasongd">somprasongd</a></p>
  </div>
 </footer>